body {
    background-image: url("background.jpg");
    text-align: center;
}
.footer {
    position: absolute;
    bottom: 0;
    background-color: black;
    color: rgb(255, 255, 255);
    font-weight: bolder;
    font-size: 20px;
    height: 40px;
    width: 100%;
    text-align: center;
}
h3 {
    font-size: 30px !important;
    font-weight: bolder !important;
}
.img1 {
    width: 33%;
    height: 250px
}
.modal-dialouge {
    width: 90%;
}
.instruction_img {
    display: inline-block;
    width: 30%;
}
video {
    background:url("game_console.png");
    background-size: cover;
    background-position: center;
}